SMTP_USER_NAME=
SMTP_HOST=
SMTP_USER_PASSWORD=
SMTP_PORT_TLS=

MAIL_RECEIVER_CONTACT_FORM=
MAIL_RECEIVER_FALLBACK=

DISPLAY_OFFICIAL_CONTACT_ADDRESS=

CONTACT_FORM_SENDER_NAME=
CONTACT_FORM_SENDER_ADDRESS=

INVEST_APP_API_URL=http://localhost:4000/api
INVEST_APP_SERVICE_TOKEN=
APP_ORIGIN=https://www.einhaus-leipzig.de
