$_xs: 414px; //iPhoneXR
$_sm: 480px;
$_md: 768px;
$_lg: 992px;
$_xl: 1280px;

:root {
  // color: #302e3a;
  // color: rgba(48, 46, 58, 0.9);
  // color: rgba(48, 46, 58, 1);
  // color: rgba(48, 46, 58, 1);
  --main-text-color-dark: rgba(48, 46, 58, 1);
  --main-text-color-semidark: rgba(48, 46, 58, 0.7);
  --main-text-color-light: rgba(237, 237, 237, 1);
  --breadcrumb-color: rgba(0, 0, 0, 0.4);

  --button-color: #0693e3;
  --button-color-hightlight: #46a1d5;

  --pretty-green: rgba(0, 197, 142, 1);
  --background-grey: rgba(0, 0, 0, 0.2);
}
