$xxs: 390px; //iPhone 12 Pro
$xs: 414px; //iPhoneXR
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
$xxl: 1920px;

:root {
  // color: #302e3a;
  // color: rgba(48, 46, 58, 0.9);
  // color: rgba(48, 46, 58, 1);
  // color: rgba(48, 46, 58, 1);
  --main-text-color-dark: rgba(48, 46, 58, 1);
  --main-text-color-semidark: rgba(48, 46, 58, 0.7);
  --main-text-color-light-light: rgba(124, 124, 124, 0.7);
  --main-text-color-semidark-alt: rgba(150, 150, 150, 1);
  --main-text-color-light: rgba(237, 237, 237, 1);
  --breadcrumb-color: rgba(0, 0, 0, 0.7);

  --button-color: #176b78;
  --button-color-hover: #125966;
  --button-color-active: #0d4651;
  --button-focus-ring: rgba(23, 107, 120, 0.24);
  --button-secondary-border: rgba(48, 70, 73, 0.24);
  --button-secondary-hover: #f4f7f6;

  --warning-severe: rgba(255, 72, 0, 0.815);
  --warning: rgba(255, 165, 0, 1);

  --pretty-green: rgba(0, 197, 142, 1);
  --background-grey: rgba(0, 0, 0, 0.2);
  --background-light-grey: rgba(0, 0, 0, 0.05);
  --background-menu-highlighting: rgba(229, 231, 235, 1);

  --onescroll-menu-background-highlighting: hsla(250, 5%, 10%, 0.5);
}
